{% extends 'base.html.twig' %}

{% block title %}Checkin index{% endblock %}

{% block body %}

    <h1>Checkin index</h1>
    <a href="{{ path('app_appartement_index') }}">Liste des appartements</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Appartement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkin in checkins %}
            <tr>
                <td>{{ checkin.id }}</td>
                <td>{{ checkin.nom }}</td>
                <td>{{ checkin.photo }}</td>
                <td>{{ checkin.description }}</td>
                <td>{{ checkin.idAppart }}</td>
                <td>
                    <a href="{{ path('app_checkin_show', {'id': checkin.id}) }}">show</a>
                    <a href="{{ path('app_checkin_edit', {'id': checkin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_checkin_new') }}">Créer un nouveau checkin</a>
{% endblock %}
