{% extends 'base.html.twig' %}

{% block title %}Checkin{% endblock %}

{% block body %}
    <h1>Checkin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ checkin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ checkin.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ checkin.photo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ checkin.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_checkin_index') }}">back to list</a>

    <a href="{{ path('app_checkin_edit', {'id': checkin.id}) }}">edit</a>

    {{ include('checkin/_delete_form.html.twig') }}
{% endblock %}
