{% extends 'base.html.twig' %}

{% block title %}Parking index{% endblock %}

{% block body %}
    <h1>Parking index</h1>
    <a href="{{ path('app_appartement_index') }}">Liste des appartements</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Appartement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parking in parkings %}
            <tr>
                <td>{{ parking.id }}</td>
                <td>{{ parking.description }}</td>
                <td>{{ parking.photo }}</td>
                <td>{{ parking.idAppart }}</td>
                <td>
                    <a href="{{ path('app_parking_edit', {'id': parking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parking_new') }}">Create new</a>
{% endblock %}
