{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>
    <a href="{{ path('app_appartement_index') }}">Liste des appartements</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Rue</th>
                <th>Lien</th>
                <th>Appartement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.lien }}</td>
                <td>{{ adresse.idAppart }}</td>
                <td>
                    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">show</a>
                    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_new') }}">Create new</a>
{% endblock %}
