{% extends 'base.html.twig' %}

{% block title %}Appartement index{% endblock %}

{% block body %}
    <h1>Appartement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Adresse</th>
                <th>Action</th>
                <th><a href="{{ path('app_adresse_index') }}">Adresse</a></th>
                <th><a href="{{ path('app_wifi_index') }}">Wifi</a></th>
                <th><a href="{{ path('app_electromenager_index') }}">Electromenager</a></th>
                <th><a href="{{ path('app_parking_index') }}">Parking</a></th>
                <th><a href="{{ path('app_checkin_index') }}">Checkin</a></th>
                <th><a href="{{ path('app_poubelle_index') }}">Poubelle</a></th>
               
            </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td>{{ appartement.id }}</td>
                <td>{{ appartement.nom }}</td>
                <td>{{ appartement.photo }}</td>
                <td>{{ appartement.adresse }}</td>
                <td><a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}">Editer</a></td>
                <td><a href="{{ path('app_adresse_show', {'id': appartement.adresse.id}) }}">Adresse</a></td>
                <td><a href="{{ path('app_appartement_wifi', {'nom': appartement.nom}) }}">Wifi</a></td>
                <td><a href="{{ path('app_appartement_listeElec', {'nom': appartement.nom}) }}">Electromenager</a></td>
                <td><a href="{{ path('app_appartement_parking', {'nom': appartement.nom}) }}">Parking</a></td>
                <td><a href="{{ path('app_appartement_listeCheckin', {'nom': appartement.nom}) }}">Checkin</a></td>
                <td><a href="{{ path('app_appartement_listePoubelle', {'nom': appartement.nom}) }}">Poubelle</a></td>
                <td><a href="{{ path('app_appartement_show', {'nom': appartement.nom}) }}">Voir</a></td>
                
                
            </tr>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appartement_new') }}">Create new</a>
{% endblock %}
