{% extends 'base.html.twig' %}

{% block title %}Appartement index{% endblock %}

{% block body %}
    <h1>Appartement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td>{{ appartement.id }}</td>
                <td>{{ appartement.nom }}</td>
                <td>{{ appartement.photo }}</td>
                <td>{{ appartement.adresse }}</td>
                <td>
                    <a href="{{ path('app_appartement_show', {'nom': appartement.nom}) }}">Voir</a>
                    <a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}">Editer</a>
                    <a href="{{ path('app_adresse_show', {'id': appartement.adresse.id}) }}">Adresse</a>
                    <a href="{{ path('app_appartement_wifi', {'nom': appartement.nom}) }}">Wifi</a>
                    <a href="{{ path('app_appartement_listeElec', {'nom': appartement.nom}) }}">Electromenager</a>
                    <a href="{{ path('app_appartement_parking', {'nom': appartement.nom}) }}">Parking</a>
                    <a href="{{ path('app_appartement_listeCheckin', {'nom': appartement.nom}) }}">Checkin</a>
                    <a href="{{ path('app_appartement_listePoubelle', {'nom': appartement.nom}) }}">Poubelle</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appartement_new') }}">Create new</a>
{% endblock %}
