<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{{ asset('assets/picture/logo.png') }}" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ asset('assets/css/universal.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style2.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/js/script.js')}}" rel="stylesheet">
</head>

<body class="">
    <!-- Topbar Start --> 
    <!-- Topbar End -->

    {% block body %}
    {% endblock %}
    

    <!-- Footer Start -->
    <!-- Footer End -->

</body>

</html>