<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{{ asset('assets/picture/logo.png') }}" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ asset('assets/css/universal.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style2.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/js/script.js')}}" rel="stylesheet">
</head>

{% if appartement|default(null) is not null %}

<body style="background-image: url('{{ appartement.photo }}');" class="">

{% else %}
    {% if test.idAppart|default(null) is not null %}
        <body style="background-image: url('{{ test.idAppart.photo }}');" class="">
    {% else %}
        <body>
    {% endif %}
{% endif %}

    <!-- Topbar Start -->
    <a href="/appartement"><img class="prev-button mt-1" src= {{asset('assets/picture/fleche-retour.png')}} width=50px></a>
    <!-- Topbar End -->

    {% block body %}
    {% endblock %}
    

    <!-- Footer Start -->
    <!-- Footer End -->

</body>

</html>